

<div class="page-wrapper">

    <div class="navbar">
        <div class="btn" (click)="navigate()">Go to Key event Operation</div>
        <div>Click any Item, hold and drag it to any table you want</div>
    </div>

    <div cdkDropListGroup>
        <div class="example-container">
          <h2>To do</h2>
      
          <div
            cdkDropList
            [cdkDropListData]="todo"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
          </div>
        </div>
      
        <div class="example-container">
          <h2>In Progress</h2>
      
          <div
            cdkDropList
            [cdkDropListData]="inProgress"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of inProgress" cdkDrag>{{item}}</div>
          </div>
        </div>
      
        <div class="example-container">
          <h2>Done</h2>
      
          <div
            cdkDropList
            [cdkDropListData]="done"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
          </div>
        </div>
      </div>
</div>